<mat-toolbar color="warn">NestJS Demo</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="w-75 h-75 mx-auto mt-3">
        <mat-card>
          <mat-card-header class="justify-content-center">
            <mat-card-title><h2>Hi, {{name}}!</h2></mat-card-title>
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-card-content>
            <mat-tab-group color="warn">
              <mat-tab label="Authentication">
                <app-auth></app-auth>
              </mat-tab>
              <mat-tab label="Todo List" [disabled]="!isAuth">

              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
